body{
    margin: 20px;
    background: url(../Source/Images/BackgroundImg.jpg) center/cover;
}
input{
  position: relative;
  opacity: 0.9;
  border: 0px;
  margin: 0px;
  margin-right: 20px;
  height: 44px;
  width: 100px;
}
button{
    opacity: 0.9;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 80px;
    width: 80px; 
    line-height: 1000px;
}
#Menu{
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 60px;
    width: 60px;
}
.musicButton{
    position: relative;
    left: 10px;
    width:10px;
    height:10px;
    border:0;
    height:60px;
    width:60px;
}

p ,h1{
    width:100%;
    word-wrap:break-word;
    text-align: center;
    /* font-size: 36px; */
    font-size:auto;
  }
  
  @media (max-width: 1000px) {
    p ,h1 {
      font-size: 30px;
    }
  }
  
  @media (max-width: 800px) {
    p ,h1 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 600px) {
    p ,h1 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 400px) {
    p ,h1 {
      font-size: 14px;
    }
  }

